/* all the fonts */
@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* regular setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  min-height: 600px;
  background: #2098cf;
  text-align: center;
  margin: 128px auto;
  border-radius: 20px;
  padding-bottom: 32px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 1000;
  padding: 40px 100px;
}

.App h1 {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.App ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App ul li {
  position: relative;
  list-style: none;
  text-decoration: none;
  padding: 7px 30px;
  color: rgb(0, 0, 0);
  font-family: "Cuprum";
  border-radius: 20px;
  letter-spacing: px;
  font-weight: 500px;
  transition: 0.7s;
}

header ul li :hover {
  background: white;
  color: rgb(214, 33, 33);
  transition: 0.7s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Class Profile */
.profil {
  background-color: aqua;
}
.profil-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #f7f7f7;
  border-radius: 5px;
  padding: 60px 30px;
  margin: 30px;
  margin: auto;
  max-width: 400px;
  padding-bottom: 50px;
  color: #696969;
}
.profil-1 p {
  font-family: "Quicksand";
  color: #545454;
}

.profil-1 h4 {
  padding-top: 10px;
}

.profil-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #f7f7f7;
  border-radius: 5px;
  padding: 60px 30px;
  margin: 30px;
  margin: auto;
  max-width: 400px;
  padding-bottom: 50px;
  color: #696969;
}
.profil-2 p {
  font-family: "Quicksand";
  color: #545454;
}

.profil-2 h4 {
  padding-top: 10px;
}
/*Class Trading */
.trading {
  background-color: aqua;
}
/*Class Markets */
.marketsmal {
  background-color: aqua;
}

.marketsmal-volume {
  width: 155px;
}
